# Core web framework
Flask==3.0.2
Flask-CORS==4.0.0

# Audio processing
numpy
SpeechRecognition
pydub
gTTS
pygame
sounddevice

# AI and language processing
google-generativeai
python-dotenv
flask[async]
